The Marketing department of Adventure Works Cycles wants to increase sales by targeting specific
customers for a mailing campaign. The company's database contains a list of past customers and a list of
potential new customers. By investigating the attributes of previous bike buyers, the company hopes to
discover patterns that they can then apply to potential customers. They hope to use the discovered patterns
to predict which potential customers are most likely to purchase a bike from Adventure Works Cycles.

Part I: Based on Feature Selection, Cleaning, and Preprocessing to Construct an Input from Data


(a) Examine the values of each attribute and Select a set of attributes only that would affect to predict
future bike buyers to create your input for data mining algorithms. Remove all the unnecessary
attributes. (Select features just by analysis).

(b) Create a new Data Frame with the selected attributes only.

(c) Determine a Data value type (Discrete, or Continuous, then Nominal, Ordinal, Interval, Ratio) of
each attribute in your selection to identify preprocessing tasks to create input for your data mining.

In [2]:

import numpy as np
import pandas as pd

data = pd.read_csv('AWCustomers.csv')
print(data.head())
data.shape

data1 = pd.read_csv('AWSales.csv')
data1.head()

merged_data = pd.merge(data, data1, on='CustomerID', how='inner')
merged_data.head()
df = merged_data.drop(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',  'LastUpdated', 'PhoneNumber', 'AddressLine2', 'AddressLine1'], axis=1)
print(df.head())

print(df.shape)

print(df.dtypes)

from datetime import date

df['BirthDate'] = pd.to_datetime(df['BirthDate'])
today = pd.Timestamp.today()
# Calculate age in years by dividing the timedelta by the average number of days in a year
df['Age'] = (today - df['BirthDate']).dt.days / 365.25
df = df.drop(['BirthDate'], axis=1)
df.head()

   CustomerID Title FirstName MiddleName  LastName Suffix  \
0       21173   NaN      Chad          C      Yuan    NaN
1       13249   NaN      Ryan        NaN     Perry    NaN
2       29350   NaN     Julia        NaN  Thompson    NaN
3       13503   NaN  Theodore        NaN     Gomez    NaN
4       22803   NaN  Marshall          J      Shan    NaN

             AddressLine1 AddressLine2         City    StateProvinceName  ...  \
0      7090 C. Mount Hood          NaN   Wollongong      New South Wales  ...
1     3651 Willow Lake Rd          NaN      Shawnee     British Columbia  ...
2  1774 Tice Valley Blvd.          NaN  West Covina           California  ...
3         2103 Baldwin Dr          NaN    Liverpool              England  ...
4         Am Gallberg 234          NaN        Werne  Nordrhein-Westfalen  ...

         Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
0        Bachelors        Clerical      M             M           1.0
1  Partial College        Clerical      M             M           1.0
2        Bachelors        Clerical      F             S           0.0
3  Partial College  Skilled Manual      M             M           1.0
4  Partial College  Skilled Manual      M             S           1.0

  NumberCarsOwned NumberChildrenAtHome TotalChildren  YearlyIncome  \
0             3.0                  0.0           1.0       81916.0
1             2.0                  1.0           2.0       81076.0
2             3.0                  0.0           0.0       86387.0
3             2.0                  1.0           2.0       61481.0
4             1.0                  0.0           0.0       51804.0

   LastUpdated
0   2017-03-06
1   2017-03-06
2   2017-03-06
3   2017-03-06
4   2017-03-06

[5 rows x 24 columns]
          City    StateProvinceName CountryRegionName PostalCode   BirthDate  \
0   Wollongong      New South Wales         Australia       2500  1987-11-13
1      Shawnee     British Columbia            Canada    V9B 2C3  1972-07-21
2  West Covina           California     United States      91791  1985-11-09
3    Liverpool              England    United Kingdom     L4 4HB  1977-10-18
4        Werne  Nordrhein-Westfalen           Germany      59368  1975-02-05

         Education      Occupation Gender MaritalStatus  HomeOwnerFlag  \
0        Bachelors        Clerical      M             M            1.0
1  Partial College        Clerical      M             M            1.0
2        Bachelors        Clerical      F             S            0.0
3  Partial College  Skilled Manual      M             M            1.0
4  Partial College  Skilled Manual      M             S            1.0

   NumberCarsOwned  NumberChildrenAtHome  TotalChildren  YearlyIncome  \
0              3.0                   0.0            1.0       81916.0
1              2.0                   1.0            2.0       81076.0
2              3.0                   0.0            0.0       86387.0
3              2.0                   1.0            2.0       61481.0
4              1.0                   0.0            0.0       51804.0

   BikeBuyer  AvgMonthSpend
0          1          50.97
1          1          53.11
2          1          54.08
3          1          56.93
4          1          55.41
(5892, 16)
City                     object
StateProvinceName        object
CountryRegionName        object
PostalCode               object
BirthDate                object
Education                object
Occupation               object
Gender                   object
MaritalStatus            object
HomeOwnerFlag           float64
NumberCarsOwned         float64
NumberChildrenAtHome    float64
TotalChildren           float64
YearlyIncome            float64
BikeBuyer                 int64
AvgMonthSpend           float64
dtype: object

,City,StateProvinceName,CountryRegionName,PostalCode,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer,AvgMonthSpend,Age
0,Wollongong,New South Wales,Australia,2500,Bachelors,Clerical,M,M,1.0,3.0,0.0,1.0,81916.0,1,50.97,37.826146
1,Shawnee,British Columbia,Canada,V9B 2C3,Partial College,Clerical,M,M,1.0,2.0,1.0,2.0,81076.0,1,53.11,53.138946
2,West Covina,California,United States,91791,Bachelors,Clerical,F,S,0.0,3.0,0.0,0.0,86387.0,1,54.08,39.835729
3,Liverpool,England,United Kingdom,L4 4HB,Partial College,Skilled Manual,M,M,1.0,2.0,1.0,2.0,61481.0,1,56.93,47.895962
4,Werne,Nordrhein-Westfalen,Germany,59368,Partial College,Skilled Manual,M,S,1.0,1.0,0.0,0.0,51804.0,1,55.41,50.595483

Part II: Data Preprocessing and Transformation
Depending on the data type of each attribute, transform each object from your preprocessed data.
Use all the data rows (~= 18000 rows) with the selected features as input to apply all the tasks below, do
not perform each task on the smaller data set that you got from your random sampling result.

(a) Handling Null values

(b) Normalization

(c) Discretization (Binning) on Continuous attributes or Categorical Attributes with too many different
values

(d) Standardization/Normalization

(e) Binarization (One Hot Encoding)

In [4]:
import pandas as pd
df.isna().sum()
df.dropna(inplace=True)
print(df.shape)

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_norm = df.copy()
df_norm[['YearlyIncome','NumberCarsOwned','NumberChildrenAtHome','TotalChildren','AvgMonthSpend']] = scaler.fit_transform(df_norm[['YearlyIncome','NumberCarsOwned','NumberChildrenAtHome','TotalChildren','AvgMonthSpend']])
print(df_norm.head())

df_ds1 = df.copy()
df_ds1['YearlyIncome_binned'] = pd.cut(df_ds1['YearlyIncome'], bins=3, labels=['low', 'medium', 'high'])
df_ds1['AvgMonthSpend_binned'] = pd.cut(df_ds1['AvgMonthSpend'], bins=3, labels=['low', 'medium', 'high'])
print(df_ds1[['YearlyIncome_binned', 'AvgMonthSpend_binned']].head())

df_ds2 = df.copy()
df_ds2['YearlyIncome_bin'] = pd.qcut(df_ds2['YearlyIncome'], q=3, labels=['low', 'medium', 'high'])
df_ds2['AvgMonthSpend_bin'] = pd.qcut(df_ds2['AvgMonthSpend'], q=3, labels=['low', 'medium', 'high'])
print(df_ds2[['YearlyIncome_bin','AvgMonthSpend_bin']].head())
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_std = df.copy()
df_std[['YearlyIncome','NumberCarsOwned','NumberChildrenAtHome','TotalChildren','AvgMonthSpend']] = scaler.fit_transform(df_std[['YearlyIncome','NumberCarsOwned','NumberChildrenAtHome','TotalChildren','AvgMonthSpend']])
print(df_std[['YearlyIncome','NumberCarsOwned','NumberChildrenAtHome','TotalChildren','AvgMonthSpend']].head())

pd.get_dummies(df, columns=[ 'Education', 'Occupation', 'Gender', 'MaritalStatus',]).head()

(5891, 16)
          City    StateProvinceName CountryRegionName PostalCode  \
0   Wollongong      New South Wales         Australia       2500
1      Shawnee     British Columbia            Canada    V9B 2C3
2  West Covina           California     United States      91791
3    Liverpool              England    United Kingdom     L4 4HB
4        Werne  Nordrhein-Westfalen           Germany      59368

         Education      Occupation Gender MaritalStatus  HomeOwnerFlag  \
0        Bachelors        Clerical      M             M            1.0
1  Partial College        Clerical      M             M            1.0
2        Bachelors        Clerical      F             S            0.0
3  Partial College  Skilled Manual      M             M            1.0
4  Partial College  Skilled Manual      M             S            1.0

   NumberCarsOwned  NumberChildrenAtHome  TotalChildren  YearlyIncome  \
0             0.75              0.000000       0.333333      0.497222
1             0.50              0.333333       0.666667      0.489826
2             0.75              0.000000       0.000000      0.536589
3             0.50              0.333333       0.666667      0.317294
4             0.25              0.000000       0.000000      0.232089

   BikeBuyer  AvgMonthSpend        Age
0          1       0.322291  37.826146
1          1       0.423568  53.138946
2          1       0.469475  39.835729
3          1       0.604354  47.895962
4          1       0.532418  50.595483
  YearlyIncome_binned AvgMonthSpend_binned
0              medium                  low
1              medium               medium
2              medium               medium
3                 low               medium
4                 low               medium
  YearlyIncome_bin AvgMonthSpend_bin
0           medium            medium
1           medium              high
2             high              high
3           medium              high
4              low              high
   YearlyIncome  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  \
0      0.315163         1.902700             -0.593127       0.176638
1      0.287478         0.810437              1.185952       1.258318
2      0.462520         1.902700             -0.593127      -0.905042
3     -0.358337         0.810437              1.185952       1.258318
4     -0.677274        -0.281827             -0.593127      -0.905042

   AvgMonthSpend
0      -0.230639
1       0.393974
2       0.677094
3       1.508939
4       1.065288

,City,StateProvinceName,CountryRegionName,PostalCode,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer,...,Education_Partial High School,Occupation_Clerical,Occupation_Management,Occupation_Manual,Occupation_Professional,Occupation_Skilled Manual,Gender_F,Gender_M,MaritalStatus_M,MaritalStatus_S
0,Wollongong,New South Wales,Australia,2500,1.0,3.0,0.0,1.0,81916.0,1,...,False,True,False,False,False,False,False,True,True,False
1,Shawnee,British Columbia,Canada,V9B 2C3,1.0,2.0,1.0,2.0,81076.0,1,...,False,True,False,False,False,False,False,True,True,False
2,West Covina,California,United States,91791,0.0,3.0,0.0,0.0,86387.0,1,...,False,True,False,False,False,False,True,False,False,True
3,Liverpool,England,United Kingdom,L4 4HB,1.0,2.0,1.0,2.0,61481.0,1,...,False,False,False,False,False,True,False,True,True,False
4,Werne,Nordrhein-Westfalen,Germany,59368,1.0,1.0,0.0,0.0,51804.0,1,...,False,False,False,False,False,True,False,True,False,True

Part III: Calculating Proximity /Correlation Analysis of two features
Make sure each attribute is transformed in a same scale for numeric attributes and Binarization for each
nominal attribute, and each discretized numeric attribute to standardization. Make sure to apply a correct
similarity measure for nominal (one hot encoding)/binary attributes and numeric attributes respectively.

(a) Calculate Similarity in Simple Matching, Jaccard Similarity, and Cosine Similarity between two
following objects of your transformed input data.


(b) Calculate Correlation between two features Commute Distance and Yearly Income

In [5]:
df_copy = df.copy()
#df_copy.head()
scaler = MinMaxScaler()
numerical_cols = ['YearlyIncome','NumberCarsOwned','NumberChildrenAtHome','TotalChildren','AvgMonthSpend']
df_copy[numerical_cols] = scaler.fit_transform(df_copy[numerical_cols])
#print(df_copy[['YearlyIncome','NumberCarsOwned','NumberChildrenAtHome','TotalChildren']].head())
# Apply one-hot encoding with integer dtype
df_copy = pd.get_dummies(df_copy, columns=[ 'Education', 'Occupation', 'Gender', 'MaritalStatus'], dtype=int)
df_copy = df_copy.drop(['City', 'StateProvinceName', 'CountryRegionName', 'PostalCode'], axis=1)
print(df_copy.head())
print(df_copy.shape)
def smc(a,b):
  return np.sum(a==b)/len(a)

def jaccard(a,b):
  return np.sum(a==b)/(np.sum(a==1)+np.sum(b==1)-np.sum(a==b))

def cosine(a,b):
  return np.dot(a,b)/(np.linalg.norm(a)*np.linalg.norm(b))
print('smc, jaccard, cosine between HomeOwnerFlag and NumberOfCarsOwned: \n',smc(df_copy.iloc[:,0],df_copy.iloc[:,1]),'\n', jaccard(df_copy.iloc[:,0],df_copy.iloc[:,1]),'\n', cosine(df_copy.iloc[:,0],df_copy.iloc[:,1]))
print('smc, jaccard, cosine between YearlyIncome and AvgMonthSpend: \n',smc(df_copy.iloc[:,4],df_copy.iloc[:,6]),'\n', jaccard(df_copy.iloc[:,4],df_copy.iloc[:,6]),'\n', cosine(df_copy.iloc[:,4],df_copy.iloc[:,6]))

print('smc, jaccard, cosine between HomeOwnerFlag and BikeBuyers: \n',smc(df_copy.iloc[:,0],df_copy.iloc[:,5]),'\n', jaccard(df_copy.iloc[:,0],df_copy.iloc[:,5]),'\n', cosine(df_copy.iloc[:,0],df_copy.iloc[:,5]))
corr_val = df_copy['YearlyIncome'].corr(df_copy['AvgMonthSpend'])
print(corr_val)

   HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  \
0            1.0             0.75              0.000000       0.333333
1            1.0             0.50              0.333333       0.666667
2            0.0             0.75              0.000000       0.000000
3            1.0             0.50              0.333333       0.666667
4            1.0             0.25              0.000000       0.000000

   YearlyIncome  BikeBuyer  AvgMonthSpend        Age  Education_Bachelors  \
0      0.497222          1       0.322291  37.826146                    1
1      0.489826          1       0.423568  53.138946                    0
2      0.536589          1       0.469475  39.835729                    1
3      0.317294          1       0.604354  47.895962                    0
4      0.232089          1       0.532418  50.595483                    0

   Education_Graduate Degree  ...  Education_Partial High School  \
0                          0  ...                              0
1                          0  ...                              0
2                          0  ...                              0
3                          0  ...                              0
4                          0  ...                              0

   Occupation_Clerical  Occupation_Management  Occupation_Manual  \
0                    1                      0                  0
1                    1                      0                  0
2                    1                      0                  0
3                    0                      0                  0
4                    0                      0                  0

   Occupation_Professional  Occupation_Skilled Manual  Gender_F  Gender_M  \
0                        0                          0         0         1
1                        0                          0         0         1
2                        0                          0         1         0
3                        0                          1         0         1
4                        0                          1         0         1

   MaritalStatus_M  MaritalStatus_S
0                1                0
1                1                0
2                0                1
3                1                0
4                0                1

[5 rows x 22 columns]
(5891, 22)
smc, jaccard, cosine between HomeOwnerFlag and NumberOfCarsOwned:
 0.12255983703955185
 0.2527126356317816
 0.7101998848309455
smc, jaccard, cosine between YearlyIncome and AvgMonthSpend:
 0.0
 0.0
 0.8814493728756078
smc, jaccard, cosine between HomeOwnerFlag and BikeBuyers:
 0.6175521982685452
 1.1451054453887315
 0.6702159469325905
0.5195878815992327